.dashboardTab {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .dashboardTab {
    background: red;
    display: none;
  }
}

.dashboardTab > div,
.dashboardTab > button {
  padding-left: 15px;
}

.dashboardTab > div > small {
  font-size: 14px;
  color: gray;
  font-weight: bold;
}

.dashboardTab__link,
.dashboardTab__logout {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.dashboardTab__link:hover {
  background: #9291c2;
  padding: 3px;
  border-radius: 10px;
  transition: 0.5s ease-out;
}

::-webkit-scrollbar {
  display: none;
}
