.dashboardTab{
    /* background: red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    /* display: none; */
}

.dashboardTab > div,
.dashboardTab > button{
    padding-left: 15px;
}

.dashboardTab > div > small{
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.dashboardTab__link,
.dashboardTab__logout{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    /* margin-bottom: 30px; */
}

.dashboardTab__link:hover{
    background: red;
    /* width: 100%; */
}
/* 
.dashboardTab__link{
    background: green;
} */


::-webkit-scrollbar {
    display: none;
}