.dashboard{
    display: flex;
    min-height: 100vh;
    position: relative;
}

.dashboard__tab{
    /* flex: 0.15; */
    /* background: #091E42; */
    background: #12113d;
    /* width: 180px; */
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0 ;
}

.dashboard__main{
    /* flex: 0.85; */
    flex: 1;
    padding-left: 150px;
}