.deliveries {
  height: 100vh;
  overflow-y: scroll;
  padding: 40px 40px 0px;
}

.btn-details {
  text-transform: none;
}

.deliveries__subHeading {
  display: flex;
  margin-bottom: 30px;
}

.deliveries__text {
  margin-right: auto;
}

.deliveries__text > p {
  color: #9297b4;
  font-size: 14px;
  font-weight: 600;
}

.deliveries__requestButton {
  background: #091e42;
  color: white;
  border: none;
  padding: 1em;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .deliveries__main {
    display: none;
  }
}

.deliveries__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

p#special {
  margin-left: auto;
  color: #9297b4;
  font-size: 14px;
  font-weight: 600;
}

.row {
  display: flex;
  align-items: center;
}

.deliveries__conditions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.deliveries__filterButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deliveries__filterButton {
  padding: 5px;
  border: none;
  height: 40px;
  border-radius: 3px;
}

#filter {
  color: white;
  background: red;
  cursor: not-allowed;
}
