.nav{
    max-width: 1440px;
    width: 100% ;
    margin: 0 auto !important;
}

.nav__button{
    /* border: 1px solid red !important; */
    border: none;
    background: black !important;
    color: white !important;
}