.verifyComponent {
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 30px;
}

.verifyComponent__Button {
  background: #4270b7;
  color: red;
  padding: 7px 0;
  outline: none;
  color: white;
}
